.single-feedback__navigate {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 92px;

  > .back-link {
    font-size: 14px;
    font-weight: 700;

    text-transform: capitalize;
    text-decoration: none;

    color: #647196;

    &:hover {
      text-decoration: underline;
    }
  }

  > .edit-link {
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;

    text-transform: capitalize;
    text-decoration: none;

    background-color: #4661E6;

    padding: 12px 24px;

    border-radius: 10px;

    &:hover {
      background-color: #7C91F9;
    }
  }
}

// Responsive 

@media  screen and (max-width: 375px) {
  .single-feedback__navigate {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 34px;

    .back-link {
      font-size: 13px;
    }

    .edit-link {
      font-size: 13px;
      padding: 10px 16px;
    }
  }
}