.single-feedback__container {
  width: 100%;
  max-width: 760px;
  padding: 0 15px;
  margin: 0 auto;
}

.card {
  margin-bottom: 24px;
} 

.card-title {
  font-size: 18px;
  font-weight: 700;

  line-height: 26px;
  color: #3A4374;
}